<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
        <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
        <style>
            body {
                background-color: #c7b39b;
            }
            div.container-fluid{
                background-color: white;
                width: 30%;
                height: 25%;
                vertical-align: middle;
                margin-top: 5%;
                border-radius: 5px;
                box-shadow: 0px 0px 10px black;;
            }
            div.col-sm-12{
                display: flex;
                justify-content: center;
            }
        </style>
        <script type="text/javascript">            
            const ApiEndPointLogin = '/login'
            $(document).ready(async function() {
                "use strict";

                console.log('Hello there');
                /*const username_inp = $('input[id="username_inp"]');
                const password_inp = $('input[id="password_inp"]');
                const user_data_inp = $('input[name="user_data_inp"]');
                const login_btn = $('button[id="login_btn"]');

                login_btn.on('click', async function(){
                    console.log('login_btn');
                    for (let elem of user_data_inp){
                        if (elem.value === ''){
                            elem.setAttribute('style', 'border: 2px solid red;');
                            setTimeout(() => elem.setAttribute('style', ''), 500);
                            return;
                        }
                    }                   
                    let pwd_hash = CryptoJS.SHA256(password_inp.val().trim()).toString(CryptoJS.enc.Base64);                    
                    let resp = await login({username: username_inp.val().trim(),
                                            password: pwd_hash});
                    console.log(resp);  
                    if (!resp.Success){
                        alert(resp.Error);
                    }                                          
                });*/
            });

            async function login(user_data){
                return await fetch(ApiEndPointLogin, {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json;charset=utf-8'},
                    body: JSON.stringify(user_data)
                }).then(function(response) {
                    return response.json();
                });/*.then(function(data) {
                    console.log(data);  
                });*/
            }
        </script>
    </head>
    <body>
        <div class="container-fluid">
            <!--<div>&nbsp;</div>
            <div class="row">
                <div class="col-sm-12">
                    <i class="fa fa-user-circle fa-8x"></i>
                </div>
            </div>
            <div>&nbsp;</div>
            <div class="row">
                <div class="col-sm-6">
                    <label for="username_inp">Enter username:&nbsp;</label>
                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="username_inp" name="user_data_inp">
                </div>                
            </div>
            <div>&nbsp;</div>
            <div class="row">
                <div class="col-sm-6">
                    <label for="password_inp">Enter password:&nbsp;</label>
                </div>
                <div class="col-sm-6">
                    <input type="password" class="form-control" id="password_inp" name="user_data_inp">
                </div>                 
            </div>
            <div>&nbsp;</div>
            <div class="row">
                <div class="col-sm-12">
                    <button class="btn btn-primary" id="login_btn">
                        <i class="fa fa-check" aria-hidden="true"></i>&nbsp;Log in
                    </button>        
                </div>   
            </div>
            <div>&nbsp;</div>-->
        </div>
    </body>
</html>    
